#h1{
    width: 90%;
}

#floatbtn{
    position: absolute;
}

ul{
    width: 100%;
}

main{
    width: 80%;
    margin: 0 auto;
}

#card{
    background-color: black;
}

form {
    width: 100%;
}

.table-dark th, td {
   text-align: center;
}

#colsub{
    width: 1rem;
}

#btndiv{
    width: 100%;
}

.btnSomar {
    height: 100%;
    border: none;
    font-size: small;
    background-color: rgb(134, 245, 134);
    float: right;
    padding: 0 3px;
}