#h1{
    width: 90%;
}

#floatbtn{
    border-bottom: 1.8px solid #dee2e6 ;
}

ul{
    width: 100%;
}

main{
    width: 80%;
    margin: 0 auto;
}

#card{
    background-color: black;
}

.btnSomar {
    height: 100%;
    border: none;
    font-size: small;
    background-color: rgb(134, 245, 134);
    float: right;
    padding: 0 3px;
}