body {
    position: absolute;
    width: 100%;
    height: 100%;

}

header {
    height: 10%;
    display: flex;
    align-items: center;
}

main {
    min-height: 90%;
    display: flex;
    align-items: center;
}

#h1{
    width: 90%;
}

#card{
    background-color: #000000de;
}