*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgBody: #f3f3f3;
    --bgBtn: rgb(0, 225, 255);
    --span: #151515;
}

#content {
    min-height: 70vh; /* Altura mínima da página */
    padding-bottom: 50px; /* Altura do rodapé */
}

footer {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    height: 10%;
    width: 100%;
}

#title{
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}
