* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgBody: #f3f3f3;
    --bgBtn: rgb(0, 225, 255);
    --span: #151515;
}

.form {
    height: 100%;
}

body {
    background-color: #f3f3f3;
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    height: 10%;
}

main {
    min-height: 80%;
    display: flex;
    align-items: center;
}

.card {
    width: 80%;
    transition-duration: 0.3s;
}

.card:hover {
    width: 85%;
    background-color: #0084ff;
}

a{
    text-decoration: none;
}

footer {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    height: 10%;
    width: 100%;
}
