*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgBody: #f3f3f3;
    --bgBtn: rgb(0, 225, 255);
    --span: #151515;
}

.darkTheme {
    --bgBtn: rgb(0, 47, 255);
    --bgBody: #151515;
    --colorDark: #fff;
}

#content {
    min-height: 70vh; /* Altura mínima da página */
    padding-bottom: 50px; /* Altura do rodapé */
}

body, body.darkTheme {
    background-color: var(--bgBody);
    color: var(--colorDark);
    transition: all 0.3s linear;
}

footer {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    height: 10%;
    width: 100%;
}

.mod {
    width: 4%;
    height: 25px;
    padding: 2px 5px 2px 5px;
    border-radius: 20px;
    border: none;
}

.mod label {
    width: 20px;
    height: 100%;
}

.mod span {
    background-color: var(--span);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mod span.darkTheme {
    transform: translateX(21px);
    transition: all ease .3s;
}

.btn-info{
    background: var(--bgBtn);
    border: none;
    transition: all 0.3s linear;
}

